body {
    background-color: #263238;
  }
  
  ul {
    list-style: none;
  }
  
  .coinlist-image {
    width: 70px;
  }
  
  .coinlist-item {
    display: flex;
  }
  
  .coinsummary {
    border-color: white !important;
    border-style: outset !important;
  }
  
  .coin-data-category {
    font-size: 10px;
  }
  
  .delete-icon {
    display: none;
    position: absolute;
    right: 6px;
  }
  
  .coin:hover .delete-icon {
    display: block;
  }
  